<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap-4.0.0-dist/css/bootstrap.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/7f212a760d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/css/styles.css">


</head>

<body>
    <div class="row">
        <div class="col-md-2">
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                        <a href="/profile" class="list-group-item list-group-item-action py-6 ripple"
                            id="profile_tab">
                            <i class="fa-solid fa-user" style="margin-right: 15px;"></i></i><span>Profile</span>
                        </a>
                        <a href="/dashboard" class="list-group-item list-group-item-action  py-6 ripple"
                            id="dashboard_tab"><i class="fa-solid fa-square-poll-vertical"
                                style="margin-right: 15px;"></i><span>Dashboard</span></a>
                        <a href="/rooms" class="list-group-item list-group-item-action  py-6 ripple" id="rooms_tab"><i
                                class="fa-solid fa-building" style="margin-right: 15px;"></i><span>Rooms</span></a>
                        <a href="/students" class="list-group-item list-group-item-action py-6 ripple active"
                            id="students_tab">
                            <i class="fa-solid fa-user-graduate" style="margin-right: 15px;"></i><span>Students</span>
                        </a>
                        <a href="/staff" class="list-group-item list-group-item-action py-6 ripple"
                            id="staff_tab"><i class="fa-solid fa-users"
                                style="margin-right: 15px;"></i><span>Staff</span></a>
                    </div>
                </div>
            </nav>
            <!-- Sidebar -->

        </div>
        <div class="col-md-10 screen-padding">
            <!--Main layout-->
            <h1 style="padding-bottom: 1rem; display: inline;">Student Details </h1>
            <button id="delete-btn" class="delete_btn">
                <i class="fa-solid fa-trash"></i>
            </button>
            
            <form action="/updateStudent" method="post">
                <div class="row" style=" display: flex; justify-content: space-between;">
                    <div class="col-md-5" style="text-align: center;">

                        <!-- <div class="row">
                            <div class="col-md-4">
                                <h2 style="margin-right: 2rem;  margin-top: 2rem;">Name : </h2>
                                <h2 style="margin-right: 2rem; margin-top: 2rem;">DOB : </h2>
                                <h2 style="margin-right: 2rem; margin-top: 2rem;">Room No. : </h2>
                                <h2 style="margin-right: 2rem; margin-top: 2rem;">Educational Institute : </h2>
                                <h2 style="margin-right: 2rem; margin-top: 2rem;">Mobile No. : </h2>
                                <h2 style="margin-right: 2rem; margin-top: 2rem;">Email Id : </h2>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="nameData" id="nameField" value="Anuj Ramane" class="student-details-field">
                                <input type=" text" name="dobData" id="dobField" value="22 - 09 - 2003" class="student-details-field">
                                <input type=" text" name="roomData" id="roomField" value="304" class="student-details-field">
                                <input type=" text" name="educationData" id="educationField" value="Vidyalankar Institute of Technology"
                                    class="student-details-field">
                                <input type=" text" name="mobileData" id="mobileField" value="1010101010" class="student-details-field">
                                <input type=" text" name="emailData" id="emailField" value="anuj@gmail.com" class="student-details-field">
                            </div>
                        </div> -->

                        <!-- Name -->
                        <div class="row student-details-row">
                            <h2 style="margin-right: 2rem;">Name : </h2>
                            <input onchange="InputChangeListener()" type="text" name="name" id="nameField"
                            class="student-details-field">
                        </div>

                        <!-- DOB -->
                        <div class="row student-details-row">
                            <h2 style="margin-right: 2rem;">DOB : </h2>
                            <input onchange="InputChangeListener()" type="date" name="dob" id="dobField"
                            class="student-details-field" style="width: 225px;">
                        </div>

                        <!-- Room no -->
                        <div class="row student-details-row">
                            <h2 style="margin-right: 2rem;">Room No. : </h2>
                            <select name="room" id="roomField" onchange="InputChangeListener()" class="student-details-field select-room-field" required>
                                <% for(var i=0; i < allRooms.length; i++){ %>
                                    <option value=<%= studentData["room"] %> disabled selected hidden><%= studentData["room"] %></option>
                                    <option value=<%=allRooms[i].roomNo%>><%=allRooms[i].roomNo%>
                                    </option>
                                    <% } %>
                                </select>
                            <!-- <input onchange="InputChangeListener()" type="text" name="room" id="roomField" 
                            class="student-details-field"> -->
                        </div>

                        <!-- Educational Institute -->
                        <div class="row student-details-row">
                            <h2 style="margin-right: 2rem;">Educational Institute : </h2>
                            <input onchange="InputChangeListener()" type="text" name="institue" id="educationField" 
                            class="student-details-field">
                        </div>

                        <!-- Mobile no -->
                        <div class="row student-details-row">
                            <h2 style="margin-right: 2rem;">Mobile No. : </h2>
                            <input onchange="InputChangeListener()" type="tel" pattern="^\d{10}$" maxlength="10" name="phone" id="mobileField"
                            class="student-details-field">
                        </div>

                        <!-- Email -->
                        <div class="row student-details-row">
                            <h2 style="margin-right: 2rem;">Email Id : </h2>
                            <input onchange="InputChangeListener()" type="text" name="email" id="emailField" 
                            class="student-details-field">
                        </div>
                        
                        <!-- Save Button -->
                        <button type="submit" id="saveBtn">Save</button>
                    </div>

                    <div class="col-md-5" style="text-align: center; margin-right: 30px;">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
                            style="width: 10rem; margin-bottom: 20px;" alt="Avatar" />

                        <!-- Address -->
                        <div class="row student-details-row">
                            <h2 style="margin-right: 2rem;">Home Address : </h2>
                            <textarea onchange="InputChangeListener()" name="address" id="addressField" cols="23" rows="5" class="student-details-field"
                                style="text-align: start;"><%=studentData["address"] %></textarea>
                        </div>

                        <!-- Emergency Contact -->
                        <div class="row student-details-row">
                            <h2 style="margin-right: 2rem;">Emergency Contact : </h2>
                            <input onchange="InputChangeListener()" type="tel" pattern="^\d{10}$" maxlength="10" name="emergencyContact" id="emergencyField"
                            class="student-details-field">
                        </div>

                        <!-- Rent Status -->
                        <div class="row student-details-row">
                            <h2 style="margin-right: 2rem;">Rent Status : </h2>

                            <% if(studentData["rentStatus"]==="paid" || studentData["rentStatus"]=== "paid" ){%>
                                <!-- <div class="rent-status" id="rent_status" style="background-color: #16EB5E;"> PAID
                                </div> -->
                                <select name="rentStatus" id="rentStatus" onchange="InputChangeListener()" class="rent-status" id="rent_status"
                                    required>
                                        <option value="paid" selected style="background-color: white; color: black;">PAID
                                        </option>
                                        <option value="overdue" style="background-color: white; color: black;">OVERDUE
                                        </option>
                                </select>
                                <%}else{%>
                                    <!-- <div class="rent-status" id="rent_status" style="background-color: #fb2626;">
                                        OVERDUE
                                    </div> -->
                                    <select name="rentStatus" id="rentStatus" onchange="InputChangeListener()" class="rent-status" id="rent_status" style="background-color: #fb2626;""
                                        required>
                                        <option value="paid" style="background-color: white; color: black;">PAID
                                        </option>
                                        <option value="overdue" selected style="background-color: white; color: black;">OVERDUE
                                        </option>
                                    </select>
                                    <%}%>

                        </div>

                        <input type="text" name="id" style="display: none;" value=<%= studentData["id"]  %> >

                    </div>
                </div>
            </form>
        </div>
        <!--Main layout-->
    </div>


    <!-- Delete Student Pop-Up -->
    <div>
        <div class="modal-container" id="delete_popup">
            <div class="modal-content" style="text-align: center;">
                <h3 id="delete_txt">Do you want to delete this student?</h3>
                <form action="/deleteStudent" method="post">
                    <div class="col"
                        style="text-align: center; display: flex; justify-content: center; align-items: center;">
                        <button type="submit" name="studentId" value=<%= studentData["id"]  %>  class="add-student-btn-close" id="delete_student">DELETE</button>
                        <button type="reset" class="add-student-btn-close-no-bg" id="delete_closeModal">CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Bootstrap Script -->
    <script src="/public/css/bootstrap-4.0.0-dist/js/bootstrap.js/>"></script>

    <!-- JQuery SCript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="/public/js/navbar.js"></script>

    <!-- Delete student pop-up script -->
    <script>
        const delete_openModal_btn = document.getElementById('delete-btn');
        const delete_closeModal = document.getElementById('delete_closeModal');
        const delete_modal_container = document.getElementById('delete_popup');

            delete_openModal_btn.addEventListener('click', (e) => {
                var studName = `<%= studentData["name"] %>`;
                delete_modal_container.getElementsByClassName("modal-content")[0].getElementsByTagName("h3")[0].innerHTML = `Do you want to delete <b>${studName}</b>?`;
                delete_modal_container.classList.add('show');
            });
        

        delete_closeModal.addEventListener('click', () => {
            delete_modal_container.classList.remove('show');
        });
    </script>

    <script>
        var nameField = document.getElementById("nameField");
        var institueField = document.getElementById("educationField");
        var roomField =  document.getElementById("roomField");
        var emailField = document.getElementById("emailField");
        var mobileField = document.getElementById("mobileField");
        var emergencyField = document.getElementById("emergencyField");
        var dobField = document.getElementById("dobField");
        var addressField = document.getElementById("addressField");
        var rentStatusField= document.getElementById("rentStatus");
        
        nameField.value = `<%= studentData["name"] %>`;
        institueField.value = `<%= studentData["institue"] %>`;
        emailField.value = `<%= studentData["email"] %>`;
        mobileField.value = `<%= studentData["phone"] %>`;
        emergencyField.value = `<%= studentData["emergencyContact"] %>`;
        dobField.value = `<%= studentData["dob"] %>`;

        function InputChangeListener() {
                flag = 0;

                nameField_default = nameField.defaultValue;
                institueField_default = institueField.defaultValue;
                roomField_default = roomField.defaultValue;
                rentStatus_default = rentStatus.defaultValue;
                emailField_default = emailField.defaultValue;
                mobileField_default = mobileField.defaultValue;
                emergencyField_default = emergencyField.defaultValue;
                dobField_default = dobField.defaultValue;
                addressField_default = addressField.defaultValue;


                var saveButton = document.getElementById("saveBtn");
                if (
                    nameField.value != nameField_default ||
                    institueField.value != institueField_default ||
                    roomField.value != roomField_default ||
                    emailField.value != emailField_default ||
                    mobileField.value != mobileField_default ||
                    emergencyField.value != emergencyField_default ||
                    dobField.value != dobField_default ||
                    addressField.value != addressField_default || 
                    rentStatus.value != rentStatus_default 
                ) {
                    flag = 1;
                }

                if (flag == 1) {
                    saveButton.style.display = "inline";
                } else {
                    saveButton.style.display = "none";
                }
            }
    </script>
</body>

</html>